thead{
    background: #30a0e2;
    
}
.table thead th {
    text-transform: capitalize;
     vertical-align: top;
}

table,td,th{
    border: 1px solid #e3e7e8;
}

@media only screen and (max-width: 690px) {
    #reset {
        margin-top:5px;
        text-align: center;
    } 
} 
 
@media only screen and (max-width: 690px) { 
    #uplbl {
        text-align: center !important;
    }
}